<h1>Shopping Cart</h1>
<h2>Items in Cart: <%= @cart.count %> </h2>
<div class='cart-contents'>
    <% @trips.each do |trip| %>
        <div class="cart_table padding-left">
          <table>
            <tr>
              <td class = 'col1'>
                <p><%= @cart.num_of_trip_in_cart(trip.id) %> </p>
              </td>
              <td class = 'col 2'>
                <p class="span trip_title padding-top">
                  <%= trip.title %>
                </p>
              </td>
              <td class = 'col3'>
                <%= link_to 'Edit Quantity', cart_edit_path(trip_id: trip.id), method: :get, class: 'btn btn-default btn-style-sm' %>
              </td>
              <td class = 'col4'>
                <%= button_to 'Remove', cart_path(trip_id: trip.id), method: :delete, class: 'btn btn-default btn-style-sm'%>
              </td>
              <td class = 'col5 price-tag-reg'>
                $<%= '%.2f' % @cart.total_price_of_trip(trip.id) %>
              </td>
            </tr>
          </table>
        </div>
    <% end %>
    <div class="top_border">
      <% unless @cart.total_price.zero? %>
        <h3 class = 'col-md-offset-9'>Total:</h3>
        <div class = 'price-tag-reg padding-top padding_bottom col-md-offset-9'>
          $<%= '%.2f' % @cart.total_price %>
        </div>
      <% end %>
    </div>
  <div class='checkout'>
    <%= display_checkout %>
  </div>
</div>
