<center><h1><%= @trip.title.upcase %></h1></center>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-6'>
    <h5>Trip Description:</h5>
    <p><%= @trip.description %></p>
    <h5>Categories:</h5>
    <%= @trip.categories.map { |cat| link_to cat.title, category_path(cat.title) }.join(', ').html_safe %>
    <h5>Price:</h5>
    $<%= '%.2f' % @trip.price %>
    <%= display_trip_status %>
  </div>
  <div class='col-md-3'>
    <%= image_tag @trip.trip_image.url, class: 'trip-show-image' %>
  </div>
  <div class='col-md-1'></div>
</div>
