<center><h1><%= @trip.title.upcase %></h1></center>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-6'>
    <h3>Trip Description:</h3>
    <div class="padding-left padding-top">
      <p><%= @trip.description %></p>
    </div>
    <h3>Categories:</h3>
    <div class="padding-left padding-top">
      <%= @trip.categories.map { |cat| link_to cat.title, category_path(cat.title) }.join(', ').html_safe %>
    </div>
    <h3>Price:</h3>
    <div class='price-tag-reg padding-left padding-top padding_bottom'>
      $<%= '%.2f' % @trip.price %>
    </div>
    <%= display_trip_status(@trip) %>
  </div>
  <div class='col-md-3'>
    <%= image_tag @trip.trip_image.url, class: 'trip-show-image' %>
  </div>
  <div class='col-md-1'></div>
</div>
