<div class="well well-sm">
  <strong>View</strong>
  <div class="btn-group">
    <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
    </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
      class="glyphicon glyphicon-th"></span>Grid</a>
    </div>
  </div>
  <div id="products" class="row list-group">
    <% @trips.each do |trip| %>
    <div class="item col-lg-6">
      <div class="thumbnail">
        <a href='/admin/trips/<%= trip.id %>'><%= image_tag trip.trip_image.url %></a>
        <div class="caption">
          <div class="row">
            <div class="col-xs-12 col-md-7">
              <h4 class="group inner list-group-item-heading">
              <%= link_to trip.title, admin_trip_path(trip) %></h4>
            </div>
            <div class="col-xs-12 col-md-5">
              <%= render partial: 'admin_dropdown', locals: { trip: trip } %>
            </div>
          </div>
          <p class="group inner list-group-item-text padding-top">
          <%= trip.description %><br /><br />
          <div class="top_border">
            <%= trip.categories.map { |cat| link_to cat.title, category_path(cat.title) }.join(', ').html_safe %></p>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6 padding-bottom">
              <p class="lead padding_top price-tag">
                $ <%= '%.2f' % trip.price %></p>
            </div>
            <div class="col-xs-12 col-md-6">
              <%= display_trip_status(trip) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
