<!DOCTYPE html>
<html>
<head>
  <title>NoRefunds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= render partial: 'layouts/navbar' %>
  </nav>

  <% flash.each do |type, message| %>
    <%= content_tag :div, message.html_safe, class: "wrapper_top_nav alert #{type}" %>
  <% end %>

  <div class="well wrapper">
    <%= yield %>
  </div>

  <nav>
    <%= render partial: 'layouts/bottom_nav' %>
  </nav>

</body>
</html>
