<!DOCTYPE html>
<html>
<head>
  <title>NoRefunds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navbar navbar-default'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='/'>
          <span class='glyphicon glyphicon-send' aria-hidden ='true'></span>
          No Refunds Travel
        </a>
      </div>

      <ul class='nav navbar-nav'>
        <li><%= link_to 'All Trips', trips_path %></li>
        <li><%= link_to 'Browse by Categories', categories_path %></li>
      </ul>

      <ul class='nav navbar-nav navbar-right'>
        <%= render partial: 'layouts/login' %> 
      </ul>
    </div>
  </div>
  <% flash.each do |type, message| %>
    <%= content_tag :div, message.html_safe, class: "alert #{type}" %>
  <% end %>

<%= yield %>

</body>
</html>
